body {
  font-family: "Lato", "Helvetica", "sans-serif";
  margin: 0;
  padding: 10px;
  font-size: 2.5em;
  font-family: 'Press Start 2P', cursive;
  background-color: black;
}

.field {
  margin: 20px 0 0 0;
}

.field__textinput {
  font-size: 1em;
  padding: 15px 0;
  text-align: center;
  min-width: 500px;
  color: black !important;
}



/*
  Section styles
 */
.card {
  display: none;
}

.card__prompt {
  font-size: 1.1em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: red;
}

.card__button {
  font-size: 1.1em;
  margin: 30px 0 0 0;
  text-align: center;
}
#selCharBtn {
  vertical-align: bottom !important;
  position:absolute !important;
    bottom: 5px !important;
    left: 0% !important;
    right: 0% !important;
    text-align: center !important;
}
#matrixTheme {
  vertical-align: bottom !important;
  position:absolute !important;
    bottom: 5px !important;
    left: 0% !important;
    right: 0% !important;
    text-align: center !important;
    background: url(https://i.makeagif.com/media/10-24-2015/jOiyeV.gif);
}
/*backgrounds*/
.battleground-body {

  background: url('/Battlefield.jpg')  no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.matrix-battleground {
  background:url("https://trojantopher.files.wordpress.com/2011/09/new-cap-city.jpg");
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.matrixBg{
  background: url(https://i.makeagif.com/media/10-24-2015/jOiyeV.gif) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  height: 100vh;
}
.classBg {
  background: url(http://hitwallpaper.com/wp-content/uploads/2013/07/5194d4b4ec9d512305.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  height: 100vh;
}
.characterBg {
  background: url(http://vignette3.wikia.nocookie.net/narutofanon/images/e/eb/Neo_Flight.gif/revision/latest?cb=20141104225833) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  height: 23em;
}
.weaponBg {
 background: url(https://i.makeagif.com/media/10-24-2015/jOiyeV.gif)no-repeat center center;
 -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  height: 100vh;
}
/*
  Button styles
 */

.btn {
  text-decoration: none;
  background-color: white;
  color: #888;
  border-radius: 5px;
  display: inline-block;
  margin: 10px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  padding: 10px 5px;
  min-width: 260px;
}

.btn--orange {
  border-color: #FF4136;
  color: white;
  background-color: #FF4136;
}

.btn--blue {
  border-color: #0074D9;
  color: white;
  background-color: #0074D9;
}

.btn--yellow {
  border-color: #E4BD00;
  color: white;
  background-color: #F3C500;
}

.btn--big {
  font-size: 28px;
  padding: 10px;
  font-weight: 400;
}

.btn--small {
  min-width: 50px;
}

.btn__prompt {
  background-color: white;
  color: #fff;
  padding-right: 12px;
  padding-left: 12px;
  margin-right: -10px;
  font-weight: 600;
  background-color: #333;
  opacity: .4;
  border-radius: 5px 0 0 5px;
  left: 37px;
  float: left;
}
#attkDfndBtn {
  max-width: 20em;
  vertical-align: center;
}

#attackBtn{
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}

#exitBtn{
width: 20%;
margin-right: 40%;
margin-left: 40%;
margin-top: 2.5em;
}

.btn__text {
  padding: 0 50px 0 20px;
  border-radius: 0 5px 5px 0;
}
/*weapon styling*/
#weaponImg {
  height: 6em;
  width: 6em;
  /*margin-right: 5em;*/
}
#weaponHands {
  height: 4em;
  width: 6em;
  border-radius: 5em;
}
#bareHands {
  /*padding-right: 5em;*/
}



/*health bars*/


#healthBars {
  justify-content: space-around;
  vertical-align: center;
  width: 10em;
  /*margin-right: 30%;
  margin-left: 30%;*/
}

.progressBar {
    -webkit-appearance: none;
   appearance: none;
  width: 250px;
  height: 20px;
  /*background-color: #eee;*/
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

/*#enemyHealth{
margin-top: 5em !important;
}*/

.screen-filler {
  height: 550px;
}

#enemyHealthBar
progress::-webkit-progress-value { background: red; }
{margin-bottom: 3em;}

#barHeight {
  height: 100px;
}

.battle-screen {
  height: 700px;
  border:1px solid black;
  background-image:url('/orc1@1,5x.png');
  background-repeat: no-repeat;
  background-size: 300px 200px;
  background-position: center;
}

.battle-screen-hit {
  background-color: rgba(255,0,0, .3);
  background-image: url('http://www.tomspinadesigns.com/wp-content/uploads/2016/01/lotr-uruk-hai-orc-movie-mask-5_1.jpg');
  background-repeat: no-repeat;
  background-size: 400px 400px;
  background-position: center;
}

.filler {
  height: 600px;
}
/*Class Select*/
#classSelect {
  text-align: center;
}
/*Character Info*/
#myInfo {
  color: white;
  font-size: .8em;
  text-align: left;
}
#enemyInfo {
  color: white;
  font-size: .8em;
  text-align: right;
}

.youWin {
  font-size: 60px;
  color: forestgreen;
}

.youLose {
  font-size: 60px;
  color: maroon;
}

.versus {
  font-size: 60px;
  text-align: center !important;
}

.versus-screen {
  color: orange;
  text-align: center !important;
 }
